@font-face {
  font-family: 'Akrobat';
  src: url('../../fonts/Akrobat-light.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akrobat';
  src: url('../../fonts/Akrobat.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akrobat';
  src: url('../../fonts/Akrobat-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RussianRail G Pro Extend';
  src: url('../../fonts/RussianRail-G-Pro-Extend.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RussianRail G Pro';
  src: url('../../fonts/RussianRail-G-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
